body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Playfair Display", serif;
  font-family: "Urbanist", sans-serif;
}
